.barContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.445);
  background: #111215;
}

.barContainer > * {
  margin-right: 20px;
}

.recordBtn,
.addGroupBtn,
.toSpeakersBtn {
  background: none;
  border: none;
}

.recordBtn {
  cursor: pointer;
  color: #fff;
  font-family: 'Raleway', sans-serif;
}

.recordBtn:hover,
.recordBtn:focus,
.recordBtn:active {
  box-shadow: none;
}

.recordBtn.isRecording {
  animation: recordingAnim 0.4s infinite alternate linear;
}

@keyframes recordingAnim {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.4;
  }
}

.measure,
.measure option {
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
}

.measure option {
  background-color: rgba(0, 0, 0, 0.7);
}

.toSpeakersBtn img {
  width: auto;
  height: 10vh;
}

.addGroupBtn {
  height: 5vh;
  width: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  margin-right: 0;
  border-radius: 50%;
  border: solid 2px #fff;
  color: #fff;
  background: #0c0a0a;
}
