/* stylelint-disable no-descending-specificity */
:root {
    --materialShadow: 0 3px 10px rgba(0, 0, 0, 0.14);
}

.phrase {
    width: 100%;
    height: 80px;
    display: flex;
    box-shadow: var(--materialShadow);
    border-radius: 7px;
    overflow: hidden;
    align-items: center;
}

.phraseAction {
    width: 20%;
    height: 100%;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phraseAction img {
    height: 50%;
    width: 60%;
}

.phraseWaveform {
    width: 60%;
    height: 60%;
}
