@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

/* stylelint-disable */
body,
html,
:global(#app) {
  height: 100%;
  width: 100%;
}
/* stylelint-enable */

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  background: #1d1f24;
  color: rgba(255, 255, 255, 0.4);
}

button:focus {
  outline: 0;
}
