:root {
    --materialShadow: 0 3px 10px rgba(0, 0, 0, 0.14);
    --materialShadowEmphasized: 0 6px 10px rgba(0, 0, 0, 0.14);
}

.groups {
    height: 80%;
    padding-left: 3%;
    padding-right: 3%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.group {
    height: 100%;
    width: 50%;
    box-shadow: var(--materialShadow);
    border-radius: 10px;
    overflow: hidden;
}

.groupHeader {
    height: 15%;
    width: 100%;
    display: flex;
    box-shadow: var(--materialShadow);
}

.headerAction {
    width: 50%;
    height: 100%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    cursor: pointer;
}

.headerAction img {
    height: 50%;
    width: auto;
    opacity: 0.3;
    transition: opacity 0.2s;
}

.headerAction:hover img,
.headerAction:focus img,
.headerAction:active img {
    opacity: 0.5;
}

.headerAction:first-of-type {
    border-right: solid 0.5px rgba(0, 0, 0, 0.26);
}

.addGroupBtn {
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.26);
    box-shadow: var(--materialShadow);
    height: 7vh;
    width: 7vh;
    border-radius: 50%;
    background: none;
    border: none;
    cursor: pointer;
    transition: box-shadow 0.2s;
}

.addGroupBtn:hover,
.addGroupBtn:focus,
.addGroupBtn:active {
    box-shadow: var(--materialShadowEmphasized);
}

@media screen and (max-width: 600px) {
    .group {
        width: 90%;
    }
}
