.barContainer {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.445);
  background: #111215;
  height: 12vh;
}

.logo img {
  height: 6vh;
  width: auto;
}
